body {
    font-family: "Founders Grotesk", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #EDE5E1;
    color: #161616;
    font-size: 18px;
}

h1, h2 {
    font-family: "GT America", helvitca, sans-serif;
    font-size: 82px;
    font-weight: 300;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

a {
    color: #161616;
}

.section {
    margin: 48px 0;
}

.section > * {
    padding: 5px 0;
}

.section img {
    margin-top: 32px;
    padding-top: 32px;
}
